.collectionFeatured .coverOne,
.collectionFeatured .coverTwo,
.collectionFeatured .coverThree{
    display: flex;
}

.collectionFeatured {
    background-color: #F7F9FB;
    padding: 5px 15px;
    margin-top: 30px;
}

.collectionFeatured .detailSection{
    display: flex;
    justify-content: space-between;
}
.collectionFeatured .detailSection .profileInfo{
    display: flex;
}
.collectionFeatured .detailSection .itemBtn > button {
    width: auto;
    min-width: 130px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    border:1px solid #2639ED;
    color: #2639ED;
    transition: all 0.3s ease-in-out;
}

.collectionFeatured .detailSection .itemBtn > button:hover {
    border:1px solid #2639ED;
    color: #ffffff;
    background-color: #2639ED;
}
.collectionFeatured .profileDetails{
    padding-left: 15px;
}
.collectionFeatured .featureProfile img{
    padding: 0px 0px 7px 0px;
}

.coverDetails {
    height: 270px;
    width: 263px;
    overflow: hidden;
}

.coverDetails > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}