.transactionSection{
    width: 100%;
    background-color: #F7F9FB;
}
.transactionSection .left,
.transactionSection .middle,
.transactionSection .right{
    padding-top: 50px;
    padding-bottom: 50px;

}
.transactionSection .left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.transactionSection .left h3{
    letter-spacing: -1px;
    font-weight: bold;
}
.transactionSection .middle,
.transactionSection .right {
    padding-left: 50px;
}
.transactionSection .middle span,
.transactionSection .right span{
    padding-left: 10px;
    font-weight: bold;
}